table{
    width: 70vw;
    margin: 16px auto;
    background: var(--main-color);

    tr{
        th, td{
            padding: 8px 16px;
        }

        td{
            background: var(--light-color);

            button{
                margin-right: 8px;
                padding: 0 8px;
                width: calc(50% - 8px);
                border: 0;
                background: #0029;
                color: var(--light-color);
                transition: .4s ease;

                &:hover{
                    background: var(--main-color);
                    color: var(--dark-color);
                }
            }
        }
    }
}